<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Edit Subscription | Hallar</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css">
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edit Subscription</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/subscription">Subscription</a></li>
                                <li class="breadcrumb-item active">Edit Subscription</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="container">
                    <div class="section section-data-tables">
                        <div class="row">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="col s12">
                                                <%- messages('messages', locals) %>
                                                <form method="POST" onsubmit="validate()" action="/subscription/edit/<%= subscription.id %>" id="form" enctype="multipart/form-data">
                                                    <div class="input-field col m6 s12">
                                                        <input placeholder="English description" id="enDesc" name="enDesc" type="text" value="<%= subscription.en.description %>">
                                                        <small>
                                                            <div id="error1" class="error"></div>
                                                        </small>
                                                        <label for="enDesc">Description</label>
                                                    </div>
                                                    <div class="input-field col m6 s12">
                                                        <input placeholder="French description" id="frDesc" name="frDesc" type="text" value="<%= subscription.fr.description %>">
                                                        <small>
                                                            <div id="error2" class="error"></div>
                                                        </small>
                                                        <label for="frDesc">Description</label>
                                                    </div>
                                                    <div class="input-field col m4 s12">
                                                        <input placeholder="Price" id="price" name="price" type="text" value="<%= subscription.price %>" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
                                                        <small>
                                                            <div id="error3" class="error"></div>
                                                        </small>
                                                        <label for="price">Price</label>
                                                    </div>
                                                    <div class="input-field col m4 s12">
                                                        <input placeholder="Validity" id="validity" name="validity" type="text" value="<%= subscription.validity %>">
                                                        <small>
                                                            <div id="error4" class="error"></div>
                                                        </small>
                                                        <label for="validity">Validity</label>
                                                    </div>
                                                    <div class="input-field col m4 s12">
                                                        <select id="period" name="period">
                                                            <option value="Week" <%= subscription.period == 'Week' ? 'selected' : '' %>>Week</option>
                                                            <option value="Month" <%= subscription.period == 'Month' ? 'selected' : '' %>>Month</option>
                                                            <option value="Year" <%= subscription.period == 'Year' ? 'selected' : '' %>>Year</option>
                                                        </select>
                                                        <label>Period</label>
                                                    </div>
                                                    <div class="input-field col s12">
                                                        Upload Image
                                                        <input type="file" accept="image/png, image/jpeg" name="image" id="input-file-now" class="dropify" data-disable-remove="true" data-default-file="<%= subscription.image %>" />
                                                        <small>
                                                            <div id="error5" class="error"></div>
                                                        </small>
                                                    </div>
                                                    <button type="submit" class="btn purple ml-1" id="submitBtn">Submit</button>
                                                    <a href="/subscription" class="btn btn-danger">Cancel</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <script>
        const form = document.getElementById('form');

        form.addEventListener('submit', (e) => {
            e.preventDefault();
        })

        function validate() {
            let returnVal = true;

            const enDescValue = document.getElementById('enDesc').value.trim();
            const frDescValue = document.getElementById('frDesc').value.trim();
            const priceValue = document.getElementById('price').value.trim();
            const validityValue = document.getElementById('validity').value.trim();
            const filevalue = document.getElementById('input-file-now').value;
            const ext = filevalue.substring(filevalue.lastIndexOf('.') + 1);

            if (enDescValue == '') {
                document.getElementById('error1').innerText = 'Please enter description.';
                returnVal = false;
            } else {
                document.getElementById('error1').innerText = '';
            }

            if (frDescValue == '') {
                document.getElementById('error2').innerText = 'Please enter description.';
                returnVal = false;
            } else {
                document.getElementById('error2').innerText = '';
            }

            if (priceValue == '') {
                document.getElementById('error3').innerText = 'Please enter price.';
                returnVal = false;
            } else {
                document.getElementById('error3').innerText = '';
            }

            if (validityValue == '') {
                document.getElementById('error4').innerText = 'Please enter validity.';
                returnVal = false;
            } else {
                document.getElementById('error4').innerText = '';
            }

            if (filevalue == '') {
                document.getElementById('error5').innerText = '';
            } else if (ext == 'png' || ext == 'jpeg' || ext == 'jpg') {
                document.getElementById('error5').innerText = '';
            } else {
                document.getElementById('error5').innerText = 'Wrong file type.';
                returnVal = false;
            }

            if (returnVal) {
                document.getElementById('submitBtn').disabled = true;
                form.submit();
            }
        }
    </script>
    <%- include('_layouts/commonJs') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"></script>
    <script src="/app-assets/js/scripts/form-file-uploads.min.js"></script>
</body>

</html>